/* The following line can be included in a src/App.scss */
/* @import '~bootstrap/scss/bootstrap'; */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(250, 250, 249);
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.modalContent {
  height: 500px;
  width: 1000px;
  overflow-y: scroll;
  overflow-x: hidden; 
}

.topBar {
  display: flex;
}

.pl-table {
  width: 100%;
}

.tableContent {
  height: 300px;
  overflow-y: scroll;
}

.clickable {
  text-decoration: underline;
  color: #3F51B5;
  cursor: pointer;
}
.btn-a,.btn-a:hover{
background-color: #46139f;
border-color: #46139f;
transition: 0.3s all ease;

}
.btn-b,.btn-b:hover{
background-color: #ff7f50;
border-color: #ff7f50;
transition: 0.3s all ease;
}
.close-btn,.close-btn:hover{background-color: rgb(255, 255, 255);border: 2px solid rgb(70, 19, 159);color: rgb(0, 0, 0);}
.btn-a:hover,.btn-b:hover,.close-btn:hover{opacity: 0.8;}

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  top: 0;
  left: 0;
  z-index: 99999;
  font-size: 24px;
  display: none;
}
.tbl-wrapper{
  padding-top: 25px;
  padding-bottom: 25px;}
.page-heading{
  text-align: left;
  font-size: 26px;
}